<a href="https://colab.research.google.com/github/prabhrajsingh/python-django-project/blob/master/auto_mpg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from sklearn import pipeline, preprocessing, metrics, model_selection, ensemble
from sklearn_pandas import DataFrameMapper

In [ ]:
data = pd.read_csv("auto-mpg.csv")

In [ ]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [ ]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [ ]:
mapper = DataFrameMapper([
                        (['cylinders','displacement', 'weight','acceleration','model year'], preprocessing.StandardScaler()),
                        (['origin'], preprocessing.OneHotEncoder(handle_unknown = 'ignore'))
                        ])

In [ ]:
pipeline_obj = pipeline.Pipeline([
                                    ('mapper',mapper),
                                    ("model", ensemble.RandomForestRegressor())
                                ])

In [ ]:
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [ ]:
X=['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin']
Y=['mpg']

In [ ]:
data.shape

(398, 9)

In [ ]:
data[X]

,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,8,307.0,130,3504,12.0,70,1
1,8,350.0,165,3693,11.5,70,1
2,8,318.0,150,3436,11.0,70,1
3,8,304.0,150,3433,12.0,70,1
4,8,302.0,140,3449,10.5,70,1
...,...,...,...,...,...,...,...
393,4,140.0,86,2790,15.6,82,1
394,4,97.0,52,2130,24.6,82,2
395,4,135.0,84,2295,11.6,82,1
396,4,120.0,79,2625,18.6,82,1
397,4,119.0,82,2720,19.4,82,1

In [ ]:
data[Y]

      mpg
0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
..    ...
393  27.0
394  44.0
395  32.0
396  28.0
397  31.0

[398 rows x 1 columns]

In [ ]:
pipeline_obj.fit(data[X],data[Y])

/usr/local/lib/python3.9/dist-packages/sklearn/pipeline.py:405: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

Pipeline(steps=[('mapper',
                 DataFrameMapper(drop_cols=[],
                                 features=[(['cylinders', 'displacement',
                                             'weight', 'acceleration',
                                             'model year'],
                                            StandardScaler()),
                                           (['origin'],
                                            OneHotEncoder(handle_unknown='ignore'))])),
                ('model', RandomForestRegressor())])

In [ ]:
pipeline_obj.predict(data[X])

array([17.33 , 14.85 , 17.131, 16.43 , 16.88 , 14.74 , 13.91 , 14.23 ,
       13.35 , 14.77 , 15.   , 14.47 , 14.93 , 14.661, 24.089, 21.144,
       19.204, 20.67 , 27.14 , 26.51 , 24.41 , 24.07 , 24.63 , 24.862,
       20.712, 10.59 , 10.75 , 11.59 , 10.426, 27.16 , 26.765, 24.891,
       26.345, 19.45 , 16.726, 17.45 , 18.64 , 18.089, 13.945, 13.34 ,
       13.98 , 14.1  , 12.22 , 12.84 , 12.5  , 18.19 , 22.09 , 18.71 ,
       18.24 , 23.895, 27.365, 29.455, 29.255, 31.75 , 33.83 , 27.315,
       26.76 , 24.562, 25.475, 23.135, 20.58 , 22.3  , 13.4  , 13.57 ,
       14.485, 13.96 , 15.89 , 11.64 , 12.55 , 12.23 , 13.16 , 20.805,
       14.82 , 13.565, 13.29 , 14.06 , 18.97 , 22.22 , 20.738, 25.955,
       22.325, 26.3  , 22.732, 27.33 , 26.85 , 13.38 , 14.59 , 13.395,
       14.165, 14.725, 12.06 , 13.04 , 13.19 , 14.085, 12.53 , 12.09 ,
       13.355, 18.531, 16.2  , 18.358, 18.02 , 21.9  , 26.145, 11.4  ,
       12.25 , 12.69 , 12.27 , 18.43 , 22.06 , 20.77 , 22.72 , 22.355,
       20.31 , 21.07 , 25.77 , 14.19 , 14.895, 28.5  , 25.235, 21.56 ,
       19.929, 15.392, 23.07 , 20.208, 12.295, 20.157, 20.884, 19.243,
       15.724, 31.13 , 25.395, 31.44 , 24.841, 15.715, 15.965, 17.773,
       15.41 , 13.4  , 14.19 , 13.815, 14.45 , 27.735, 27.45 , 26.246,
       31.695, 31.67 , 27.535, 25.425, 26.06 , 24.288, 25.581, 29.82 ,
       19.173, 17.836, 15.932, 15.806, 15.24 , 14.93 , 15.399, 14.36 ,
       17.059, 16.065, 15.744, 17.434, 20.275, 19.846, 14.813, 28.345,
       23.558, 19.748, 22.456, 24.214, 25.44 , 24.02 , 19.007, 28.835,
       18.901, 23.624, 22.315, 21.073, 24.404, 32.5  , 27.035, 25.392,
       24.946, 26.085, 27.22 , 16.525, 15.76 , 15.09 , 14.925, 21.363,
       20.637, 22.569, 21.503, 29.382, 25.829, 29.1  , 32.616, 19.688,
       18.379, 18.48 , 18.346, 29.445, 31.93 , 28.06 , 25.934, 20.353,
       13.8  , 20.111, 19.511, 17.134, 15.715, 13.835, 13.805, 13.671,
       31.271, 29.966, 33.544, 25.908, 32.647, 16.536, 16.746, 15.67 ,
       15.36 , 17.876, 20.233, 19.163, 18.416, 15.91 , 15.505, 15.754,
       15.742, 29.69 , 24.592, 26.339, 25.088, 30.67 , 32.085, 30.629,
       30.088, 21.741, 22.875, 22.598, 40.108, 35.511, 33.738, 37.072,
       35.538, 19.716, 18.856, 19.642, 19.211, 20.422, 20.332, 25.034,
       20.138, 19.747, 20.421, 20.756, 18.805, 18.601, 19.139, 18.426,
       18.027, 17.077, 30.443, 26.126, 27.078, 29.575, 22.57 , 23.692,
       23.368, 24.649, 21.701, 17.768, 22.461, 17.04 , 31.991, 30.997,
       21.414, 20.895, 23.34 , 20.312, 20.421, 17.43 , 18.173, 16.993,
       17.866, 16.427, 15.987, 20.801, 17.827, 34.336, 34.422, 35.386,
       27.447, 24.932, 21.119, 26.378, 22.49 , 34.706, 34.449, 33.944,
       36.92 , 27.803, 28.174, 26.24 , 30.767, 39.755, 37.348, 33.823,
       37.523, 27.876, 25.809, 24.786, 19.987, 34.275, 29.925, 32.095,
       34.914, 32.82 , 43.483, 27.001, 40.684, 43.558, 39.59 , 32.935,
       28.907, 41.301, 39.217, 35.934, 33.395, 29.782, 27.933, 33.865,
       24.205, 32.718, 28.743, 26.915, 26.374, 24.428, 31.242, 38.265,
       37.809, 36.169, 34.558, 36.805, 36.855, 34.79 , 34.643, 34.704,
       31.886, 34.392, 34.021, 34.355, 32.773, 32.443, 31.375, 27.982,
       28.113, 26.258, 25.554, 21.427, 24.839, 21.4  , 19.12 , 28.507,
       28.015, 32.854, 30.459, 29.082, 26.975, 24.871, 24.06 , 35.68 ,
       37.113, 32.89 , 37.466, 36.216, 35.78 , 35.625, 33.84 , 36.201,
       33.587, 37.113, 25.821, 33.734, 27.007, 24.863, 30.529, 33.964,
       26.172, 26.761, 42.666, 31.96 , 28.21 , 29.86 ])

In [ ]:
import joblib

In [ ]:
joblib.dump(pipeline_obj,'RFModelforMPG.pkl')

['RFModelforMPG.pkl']

In [ ]:
modelReload=joblib.load('RFModelforMPG.pkl')

In [ ]:
modelReload.predict(data[X])

array([17.33 , 14.85 , 17.131, 16.43 , 16.88 , 14.74 , 13.91 , 14.23 ,
       13.35 , 14.77 , 15.   , 14.47 , 14.93 , 14.661, 24.089, 21.144,
       19.204, 20.67 , 27.14 , 26.51 , 24.41 , 24.07 , 24.63 , 24.862,
       20.712, 10.59 , 10.75 , 11.59 , 10.426, 27.16 , 26.765, 24.891,
       26.345, 19.45 , 16.726, 17.45 , 18.64 , 18.089, 13.945, 13.34 ,
       13.98 , 14.1  , 12.22 , 12.84 , 12.5  , 18.19 , 22.09 , 18.71 ,
       18.24 , 23.895, 27.365, 29.455, 29.255, 31.75 , 33.83 , 27.315,
       26.76 , 24.562, 25.475, 23.135, 20.58 , 22.3  , 13.4  , 13.57 ,
       14.485, 13.96 , 15.89 , 11.64 , 12.55 , 12.23 , 13.16 , 20.805,
       14.82 , 13.565, 13.29 , 14.06 , 18.97 , 22.22 , 20.738, 25.955,
       22.325, 26.3  , 22.732, 27.33 , 26.85 , 13.38 , 14.59 , 13.395,
       14.165, 14.725, 12.06 , 13.04 , 13.19 , 14.085, 12.53 , 12.09 ,
       13.355, 18.531, 16.2  , 18.358, 18.02 , 21.9  , 26.145, 11.4  ,
       12.25 , 12.69 , 12.27 , 18.43 , 22.06 , 20.77 , 22.72 , 22.355,
       20.31 , 21.07 , 25.77 , 14.19 , 14.895, 28.5  , 25.235, 21.56 ,
       19.929, 15.392, 23.07 , 20.208, 12.295, 20.157, 20.884, 19.243,
       15.724, 31.13 , 25.395, 31.44 , 24.841, 15.715, 15.965, 17.773,
       15.41 , 13.4  , 14.19 , 13.815, 14.45 , 27.735, 27.45 , 26.246,
       31.695, 31.67 , 27.535, 25.425, 26.06 , 24.288, 25.581, 29.82 ,
       19.173, 17.836, 15.932, 15.806, 15.24 , 14.93 , 15.399, 14.36 ,
       17.059, 16.065, 15.744, 17.434, 20.275, 19.846, 14.813, 28.345,
       23.558, 19.748, 22.456, 24.214, 25.44 , 24.02 , 19.007, 28.835,
       18.901, 23.624, 22.315, 21.073, 24.404, 32.5  , 27.035, 25.392,
       24.946, 26.085, 27.22 , 16.525, 15.76 , 15.09 , 14.925, 21.363,
       20.637, 22.569, 21.503, 29.382, 25.829, 29.1  , 32.616, 19.688,
       18.379, 18.48 , 18.346, 29.445, 31.93 , 28.06 , 25.934, 20.353,
       13.8  , 20.111, 19.511, 17.134, 15.715, 13.835, 13.805, 13.671,
       31.271, 29.966, 33.544, 25.908, 32.647, 16.536, 16.746, 15.67 ,
       15.36 , 17.876, 20.233, 19.163, 18.416, 15.91 , 15.505, 15.754,
       15.742, 29.69 , 24.592, 26.339, 25.088, 30.67 , 32.085, 30.629,
       30.088, 21.741, 22.875, 22.598, 40.108, 35.511, 33.738, 37.072,
       35.538, 19.716, 18.856, 19.642, 19.211, 20.422, 20.332, 25.034,
       20.138, 19.747, 20.421, 20.756, 18.805, 18.601, 19.139, 18.426,
       18.027, 17.077, 30.443, 26.126, 27.078, 29.575, 22.57 , 23.692,
       23.368, 24.649, 21.701, 17.768, 22.461, 17.04 , 31.991, 30.997,
       21.414, 20.895, 23.34 , 20.312, 20.421, 17.43 , 18.173, 16.993,
       17.866, 16.427, 15.987, 20.801, 17.827, 34.336, 34.422, 35.386,
       27.447, 24.932, 21.119, 26.378, 22.49 , 34.706, 34.449, 33.944,
       36.92 , 27.803, 28.174, 26.24 , 30.767, 39.755, 37.348, 33.823,
       37.523, 27.876, 25.809, 24.786, 19.987, 34.275, 29.925, 32.095,
       34.914, 32.82 , 43.483, 27.001, 40.684, 43.558, 39.59 , 32.935,
       28.907, 41.301, 39.217, 35.934, 33.395, 29.782, 27.933, 33.865,
       24.205, 32.718, 28.743, 26.915, 26.374, 24.428, 31.242, 38.265,
       37.809, 36.169, 34.558, 36.805, 36.855, 34.79 , 34.643, 34.704,
       31.886, 34.392, 34.021, 34.355, 32.773, 32.443, 31.375, 27.982,
       28.113, 26.258, 25.554, 21.427, 24.839, 21.4  , 19.12 , 28.507,
       28.015, 32.854, 30.459, 29.082, 26.975, 24.871, 24.06 , 35.68 ,
       37.113, 32.89 , 37.466, 36.216, 35.78 , 35.625, 33.84 , 36.201,
       33.587, 37.113, 25.821, 33.734, 27.007, 24.863, 30.529, 33.964,
       26.172, 26.761, 42.666, 31.96 , 28.21 , 29.86 ])

In [ ]:
temp={}
temp['cylinders']=1
temp['displacement']=2
temp['horsepower']=3
temp['weight']=4
temp['acceleration']=5
temp['model year']=6
temp['origin']=1

In [ ]:
testData=pd.DataFrame({'x':temp}).transpose()

In [ ]:
testData

,acceleration,cylinders,displacement,horsepower,model year,origin,weight
x,5,1,2,3,6,1,4

In [ ]:
modelReload.predict(testData)[0]

28.19