<a href="https://colab.research.google.com/github/prabhrajsingh/python-django-project/blob/master/auto_mpg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn import pipeline, preprocessing, metrics, model_selection, ensemble
from sklearn_pandas import DataFrameMapper

In [4]:
data = pd.read_csv("./sample_data/auto-mpg.csv")

In [5]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    int64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 28.1+ KB

In [50]:
data[data['cylinders'] == '?']

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [51]:
data[data['displacement'] == '?']

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [25]:
data[data['horsepower'] == '?']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl

In [52]:
data[data['weight'] == '?']

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [53]:
data[data['acceleration'] == '?']

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [54]:
data[data['model year'] == '?']

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [55]:
data[data['origin'] == '?']

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [56]:
data[data['car name'] == '?']

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [26]:
data['horsepower'] = data['horsepower'].replace('?', np.nan)

In [27]:
data['horsepower'] = data['horsepower'].fillna(data['horsepower'].median())

In [29]:
data['horsepower'] = data['horsepower'].astype(int)

In [31]:
mapper = DataFrameMapper([
                        (['cylinders','displacement', 'horsepower', 'weight','acceleration','model year'], preprocessing.StandardScaler()),
                        (['origin'], preprocessing.OneHotEncoder(handle_unknown = 'ignore'))
                        ])

In [12]:
data.shape

(398, 9)

In [33]:
pipeline_obj = pipeline.Pipeline([
                                    ('mapper',mapper),
                                    ("model", ensemble.RandomForestRegressor())
                                ])

In [34]:
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [35]:
X=['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin']
Y=['mpg']

In [13]:
data[X]

,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,8,307.0,130,3504,12.0,70,1
1,8,350.0,165,3693,11.5,70,1
2,8,318.0,150,3436,11.0,70,1
3,8,304.0,150,3433,12.0,70,1
4,8,302.0,140,3449,10.5,70,1
...,...,...,...,...,...,...,...
393,4,140.0,86,2790,15.6,82,1
394,4,97.0,52,2130,24.6,82,2
395,4,135.0,84,2295,11.6,82,1
396,4,120.0,79,2625,18.6,82,1
397,4,119.0,82,2720,19.4,82,1

In [14]:
data[Y]

      mpg
0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
..    ...
393  27.0
394  44.0
395  32.0
396  28.0
397  31.0

[398 rows x 1 columns]

In [36]:
pipeline_obj.fit(data[X],data[Y])

/usr/local/lib/python3.9/dist-packages/sklearn/pipeline.py:405: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

Pipeline(steps=[('mapper',
                 DataFrameMapper(drop_cols=[],
                                 features=[(['cylinders', 'displacement',
                                             'horsepower', 'weight',
                                             'acceleration', 'model year'],
                                            StandardScaler()),
                                           (['origin'],
                                            OneHotEncoder(handle_unknown='ignore'))])),
                ('model', RandomForestRegressor())])

In [37]:
pipeline_obj.predict(data[X])

array([17.17 , 14.95 , 16.9  , 16.28 , 16.955, 14.63 , 13.95 , 14.23 ,
       13.45 , 14.76 , 14.9  , 14.61 , 15.11 , 14.502, 24.01 , 21.49 ,
       18.976, 20.916, 26.88 , 26.687, 24.73 , 24.535, 24.74 , 25.036,
       20.835, 10.46 , 10.915, 11.775,  9.86 , 26.91 , 26.381, 24.885,
       26.544, 19.569, 16.605, 17.41 , 18.68 , 18.156, 13.86 , 13.72 ,
       14.07 , 14.31 , 12.17 , 13.   , 12.74 , 18.235, 22.185, 18.651,
       18.3  , 23.845, 27.22 , 29.565, 29.22 , 31.375, 33.59 , 27.431,
       27.11 , 24.323, 25.665, 23.813, 20.4  , 22.7  , 13.465, 13.67 ,
       14.53 , 14.07 , 16.   , 11.77 , 12.93 , 12.45 , 13.03 , 21.164,
       14.925, 13.28 , 13.52 , 14.08 , 18.887, 22.694, 20.959, 26.14 ,
       22.431, 26.475, 22.794, 27.32 , 26.705, 13.275, 14.5  , 13.585,
       14.055, 14.62 , 12.05 , 13.145, 13.275, 14.175, 12.58 , 12.1  ,
       13.3  , 18.342, 16.295, 18.32 , 18.382, 22.16 , 26.717, 11.53 ,
       12.285, 12.86 , 12.37 , 18.496, 21.74 , 21.375, 23.09 , 21.56 ,
       20.11 , 21.427, 25.785, 14.415, 15.28 , 29.051, 25.035, 21.615,
       19.838, 15.264, 23.454, 20.134, 12.28 , 20.174, 21.036, 19.225,
       16.145, 31.19 , 25.324, 31.515, 24.875, 16.075, 16.025, 17.78 ,
       15.305, 13.37 , 14.055, 14.   , 14.15 , 27.97 , 27.915, 26.344,
       31.61 , 31.775, 27.389, 25.905, 26.04 , 23.975, 25.499, 30.26 ,
       19.317, 17.723, 15.591, 16.017, 15.27 , 14.835, 15.39 , 14.275,
       17.303, 15.935, 15.646, 17.517, 20.406, 19.766, 14.703, 28.2  ,
       23.661, 19.886, 22.978, 23.904, 25.864, 23.958, 18.922, 28.73 ,
       19.027, 23.386, 22.382, 21.459, 23.997, 32.425, 26.786, 25.574,
       24.802, 26.08 , 27.38 , 16.495, 15.475, 16.244, 14.72 , 21.289,
       21.061, 23.135, 21.488, 30.179, 26.331, 28.85 , 32.53 , 19.442,
       18.202, 18.525, 18.412, 29.607, 32.237, 28.015, 26.056, 20.317,
       13.49 , 20.163, 19.574, 17.124, 15.475, 13.93 , 14.017, 13.453,
       31.757, 29.557, 33.886, 25.458, 32.782, 16.869, 17.157, 15.805,
       15.562, 17.989, 20.32 , 19.059, 18.212, 15.774, 15.63 , 15.688,
       15.808, 29.801, 24.669, 26.608, 25.019, 30.612, 31.97 , 30.519,
       29.814, 21.933, 22.443, 22.209, 40.177, 35.286, 34.562, 37.716,
       35.311, 19.615, 18.884, 19.556, 19.004, 20.156, 20.741, 25.14 ,
       20.1  , 19.778, 20.543, 20.716, 18.707, 18.868, 18.977, 18.023,
       18.5  , 17.24 , 30.591, 26.177, 26.638, 30.181, 23.09 , 23.248,
       23.521, 24.155, 21.124, 17.557, 21.848, 16.923, 32.139, 30.714,
       21.199, 20.938, 23.964, 20.134, 20.597, 17.296, 17.838, 17.4  ,
       17.769, 16.738, 15.999, 19.511, 17.787, 33.841, 34.331, 35.522,
       28.106, 25.608, 21.363, 28.332, 22.42 , 34.532, 34.361, 33.968,
       36.288, 27.79 , 27.901, 26.324, 31.656, 39.249, 37.552, 33.796,
       37.374, 27.685, 26.128, 25.39 , 19.975, 34.844, 29.687, 31.446,
       34.716, 32.762, 43.608, 26.798, 40.851, 43.416, 40.311, 33.864,
       30.986, 41.497, 38.798, 36.198, 32.505, 28.497, 26.665, 33.762,
       24.101, 32.633, 28.52 , 27.17 , 26.267, 24.618, 31.282, 38.155,
       37.954, 35.977, 34.34 , 36.633, 37.097, 34.466, 34.595, 34.453,
       32.385, 33.658, 34.31 , 33.942, 32.789, 31.154, 31.245, 27.81 ,
       28.677, 25.698, 25.103, 21.797, 24.446, 21.218, 20.012, 28.47 ,
       27.742, 33.105, 30.345, 29.312, 27.011, 24.521, 24.033, 35.698,
       36.225, 32.816, 37.584, 35.538, 35.844, 35.412, 33.619, 36.383,
       33.617, 36.674, 25.444, 31.256, 27.454, 24.921, 30.306, 34.325,
       26.128, 26.628, 42.326, 32.519, 28.347, 29.615])

In [38]:
import joblib

In [39]:
joblib.dump(pipeline_obj,'RFModelforMPG.pkl')

['RFModelforMPG.pkl']

In [40]:
modelReload=joblib.load('RFModelforMPG.pkl')

In [41]:
modelReload.predict(data[X])

array([17.17 , 14.95 , 16.9  , 16.28 , 16.955, 14.63 , 13.95 , 14.23 ,
       13.45 , 14.76 , 14.9  , 14.61 , 15.11 , 14.502, 24.01 , 21.49 ,
       18.976, 20.916, 26.88 , 26.687, 24.73 , 24.535, 24.74 , 25.036,
       20.835, 10.46 , 10.915, 11.775,  9.86 , 26.91 , 26.381, 24.885,
       26.544, 19.569, 16.605, 17.41 , 18.68 , 18.156, 13.86 , 13.72 ,
       14.07 , 14.31 , 12.17 , 13.   , 12.74 , 18.235, 22.185, 18.651,
       18.3  , 23.845, 27.22 , 29.565, 29.22 , 31.375, 33.59 , 27.431,
       27.11 , 24.323, 25.665, 23.813, 20.4  , 22.7  , 13.465, 13.67 ,
       14.53 , 14.07 , 16.   , 11.77 , 12.93 , 12.45 , 13.03 , 21.164,
       14.925, 13.28 , 13.52 , 14.08 , 18.887, 22.694, 20.959, 26.14 ,
       22.431, 26.475, 22.794, 27.32 , 26.705, 13.275, 14.5  , 13.585,
       14.055, 14.62 , 12.05 , 13.145, 13.275, 14.175, 12.58 , 12.1  ,
       13.3  , 18.342, 16.295, 18.32 , 18.382, 22.16 , 26.717, 11.53 ,
       12.285, 12.86 , 12.37 , 18.496, 21.74 , 21.375, 23.09 , 21.56 ,
       20.11 , 21.427, 25.785, 14.415, 15.28 , 29.051, 25.035, 21.615,
       19.838, 15.264, 23.454, 20.134, 12.28 , 20.174, 21.036, 19.225,
       16.145, 31.19 , 25.324, 31.515, 24.875, 16.075, 16.025, 17.78 ,
       15.305, 13.37 , 14.055, 14.   , 14.15 , 27.97 , 27.915, 26.344,
       31.61 , 31.775, 27.389, 25.905, 26.04 , 23.975, 25.499, 30.26 ,
       19.317, 17.723, 15.591, 16.017, 15.27 , 14.835, 15.39 , 14.275,
       17.303, 15.935, 15.646, 17.517, 20.406, 19.766, 14.703, 28.2  ,
       23.661, 19.886, 22.978, 23.904, 25.864, 23.958, 18.922, 28.73 ,
       19.027, 23.386, 22.382, 21.459, 23.997, 32.425, 26.786, 25.574,
       24.802, 26.08 , 27.38 , 16.495, 15.475, 16.244, 14.72 , 21.289,
       21.061, 23.135, 21.488, 30.179, 26.331, 28.85 , 32.53 , 19.442,
       18.202, 18.525, 18.412, 29.607, 32.237, 28.015, 26.056, 20.317,
       13.49 , 20.163, 19.574, 17.124, 15.475, 13.93 , 14.017, 13.453,
       31.757, 29.557, 33.886, 25.458, 32.782, 16.869, 17.157, 15.805,
       15.562, 17.989, 20.32 , 19.059, 18.212, 15.774, 15.63 , 15.688,
       15.808, 29.801, 24.669, 26.608, 25.019, 30.612, 31.97 , 30.519,
       29.814, 21.933, 22.443, 22.209, 40.177, 35.286, 34.562, 37.716,
       35.311, 19.615, 18.884, 19.556, 19.004, 20.156, 20.741, 25.14 ,
       20.1  , 19.778, 20.543, 20.716, 18.707, 18.868, 18.977, 18.023,
       18.5  , 17.24 , 30.591, 26.177, 26.638, 30.181, 23.09 , 23.248,
       23.521, 24.155, 21.124, 17.557, 21.848, 16.923, 32.139, 30.714,
       21.199, 20.938, 23.964, 20.134, 20.597, 17.296, 17.838, 17.4  ,
       17.769, 16.738, 15.999, 19.511, 17.787, 33.841, 34.331, 35.522,
       28.106, 25.608, 21.363, 28.332, 22.42 , 34.532, 34.361, 33.968,
       36.288, 27.79 , 27.901, 26.324, 31.656, 39.249, 37.552, 33.796,
       37.374, 27.685, 26.128, 25.39 , 19.975, 34.844, 29.687, 31.446,
       34.716, 32.762, 43.608, 26.798, 40.851, 43.416, 40.311, 33.864,
       30.986, 41.497, 38.798, 36.198, 32.505, 28.497, 26.665, 33.762,
       24.101, 32.633, 28.52 , 27.17 , 26.267, 24.618, 31.282, 38.155,
       37.954, 35.977, 34.34 , 36.633, 37.097, 34.466, 34.595, 34.453,
       32.385, 33.658, 34.31 , 33.942, 32.789, 31.154, 31.245, 27.81 ,
       28.677, 25.698, 25.103, 21.797, 24.446, 21.218, 20.012, 28.47 ,
       27.742, 33.105, 30.345, 29.312, 27.011, 24.521, 24.033, 35.698,
       36.225, 32.816, 37.584, 35.538, 35.844, 35.412, 33.619, 36.383,
       33.617, 36.674, 25.444, 31.256, 27.454, 24.921, 30.306, 34.325,
       26.128, 26.628, 42.326, 32.519, 28.347, 29.615])

In [42]:
temp={}
temp['cylinders']=1
temp['displacement']=2
temp['horsepower']=3
temp['weight']=4
temp['acceleration']=5
temp['model year']=6
temp['origin']=1

In [43]:
testData=pd.DataFrame({'x':temp}).transpose()

In [44]:
testData

,acceleration,cylinders,displacement,horsepower,model year,origin,weight
x,5,1,2,3,6,1,4

In [45]:
modelReload.predict(testData)[0]

29.557999999999996