<a href="https://colab.research.google.com/github/prabhrajsingh/python-django-project/blob/master/auto_mpg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
import numpy as np
import pandas as pd

In [63]:
from sklearn import pipeline, preprocessing, metrics, model_selection, ensemble
from sklearn_pandas import DataFrameMapper

In [64]:
data = pd.read_csv("./sample_data/auto-mpg.csv")

In [65]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [67]:
data[data['cylinders'] == '?']

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [68]:
data[data['displacement'] == '?']

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [69]:
data[data['horsepower'] == '?']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl

In [70]:
data[data['weight'] == '?']

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [71]:
data[data['acceleration'] == '?']

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [72]:
data[data['model year'] == '?']

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [73]:
data[data['origin'] == '?']

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [74]:
data[data['car name'] == '?']

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [75]:
data['horsepower'] = data['horsepower'].replace('?', np.nan)

In [76]:
data['horsepower'] = data['horsepower'].fillna(data['horsepower'].median())

In [77]:
data['horsepower'] = data['horsepower'].astype(int)

In [78]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    int64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 28.1+ KB

In [79]:
mapper = DataFrameMapper([
                        (['cylinders','displacement', 'horsepower', 'weight','acceleration','model year'], preprocessing.StandardScaler()),
                        (['origin'], preprocessing.OneHotEncoder(handle_unknown = 'ignore'))
                        ])

In [80]:
data.shape

(398, 9)

In [81]:
pipeline_obj = pipeline.Pipeline([
                                    ('mapper',mapper),
                                    ("model", ensemble.RandomForestRegressor())
                                ])

In [82]:
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [83]:
X=['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin']
Y=['mpg']

In [84]:
data[X]

,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,8,307.0,130,3504,12.0,70,1
1,8,350.0,165,3693,11.5,70,1
2,8,318.0,150,3436,11.0,70,1
3,8,304.0,150,3433,12.0,70,1
4,8,302.0,140,3449,10.5,70,1
...,...,...,...,...,...,...,...
393,4,140.0,86,2790,15.6,82,1
394,4,97.0,52,2130,24.6,82,2
395,4,135.0,84,2295,11.6,82,1
396,4,120.0,79,2625,18.6,82,1
397,4,119.0,82,2720,19.4,82,1

In [85]:
data[Y]

      mpg
0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
..    ...
393  27.0
394  44.0
395  32.0
396  28.0
397  31.0

[398 rows x 1 columns]

In [86]:
pipeline_obj.fit(data[X],data[Y])

/usr/local/lib/python3.9/dist-packages/sklearn/pipeline.py:405: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

Pipeline(steps=[('mapper',
                 DataFrameMapper(drop_cols=[],
                                 features=[(['cylinders', 'displacement',
                                             'horsepower', 'weight',
                                             'acceleration', 'model year'],
                                            StandardScaler()),
                                           (['origin'],
                                            OneHotEncoder(handle_unknown='ignore'))])),
                ('model', RandomForestRegressor())])

In [87]:
pipeline_obj.predict(data[X])

array([17.137, 14.69 , 17.11 , 16.3  , 17.08 , 14.575, 13.91 , 14.065,
       13.545, 14.67 , 14.902, 14.38 , 14.95 , 14.578, 24.06 , 21.686,
       19.212, 20.997, 27.09 , 26.58 , 24.318, 24.216, 24.56 , 25.006,
       20.895, 10.71 , 10.75 , 11.71 , 10.12 , 27.1  , 26.365, 24.789,
       26.17 , 19.138, 16.917, 17.48 , 18.584, 18.1  , 13.935, 13.66 ,
       14.11 , 14.18 , 12.25 , 13.11 , 12.88 , 18.29 , 22.1  , 18.621,
       18.335, 23.674, 26.935, 29.71 , 29.195, 31.525, 33.39 , 27.265,
       26.966, 24.588, 25.4  , 23.33 , 20.449, 22.484, 13.345, 13.6  ,
       14.71 , 14.075, 15.74 , 11.86 , 12.76 , 12.42 , 13.075, 20.149,
       14.84 , 13.64 , 13.545, 14.12 , 18.955, 22.51 , 20.5  , 25.86 ,
       22.55 , 26.972, 22.801, 26.925, 26.82 , 13.155, 14.57 , 13.44 ,
       14.175, 14.44 , 11.99 , 13.215, 13.08 , 14.14 , 12.5  , 12.13 ,
       13.31 , 18.361, 16.4  , 18.34 , 18.283, 22.132, 26.28 , 11.48 ,
       12.22 , 12.74 , 12.38 , 18.346, 21.87 , 21.11 , 22.98 , 21.845,
       20.225, 21.346, 26.32 , 14.41 , 15.15 , 28.83 , 24.675, 21.515,
       19.557, 15.32 , 23.016, 20.346, 12.04 , 20.127, 21.025, 19.19 ,
       16.01 , 31.135, 25.327, 31.695, 24.75 , 16.29 , 15.977, 17.768,
       15.48 , 13.46 , 14.075, 13.935, 14.215, 27.44 , 27.515, 26.323,
       31.616, 31.695, 27.235, 25.665, 25.869, 23.857, 25.085, 29.725,
       19.131, 17.681, 15.783, 16.59 , 15.36 , 14.755, 15.305, 14.43 ,
       17.116, 16.135, 15.656, 17.675, 20.513, 19.598, 14.58 , 28.245,
       23.493, 19.845, 22.886, 23.93 , 25.648, 23.901, 18.98 , 28.825,
       19.005, 23.488, 22.065, 21.539, 24.201, 32.265, 26.728, 25.421,
       24.72 , 26.109, 27.265, 16.86 , 15.65 , 16.245, 14.785, 21.255,
       20.875, 23.242, 21.43 , 29.29 , 25.465, 29.04 , 32.37 , 19.513,
       18.21 , 18.384, 18.54 , 29.546, 32.   , 27.99 , 25.434, 20.169,
       13.694, 19.974, 19.421, 16.97 , 15.645, 13.795, 14.064, 13.444,
       31.46 , 29.579, 33.432, 25.771, 32.955, 16.627, 17.521, 15.639,
       15.352, 17.943, 20.208, 19.096, 18.344, 15.865, 15.643, 15.713,
       15.674, 29.672, 24.647, 26.104, 24.927, 30.891, 31.735, 30.828,
       29.795, 21.911, 22.617, 21.747, 40.937, 35.187, 35.191, 37.538,
       35.618, 19.891, 18.885, 19.373, 19.101, 20.182, 20.546, 25.07 ,
       19.971, 19.696, 20.508, 20.675, 18.709, 18.709, 18.922, 18.002,
       18.614, 17.176, 30.568, 25.963, 26.885, 30.588, 23.04 , 23.381,
       23.72 , 24.55 , 21.384, 18.03 , 21.835, 17.104, 32.25 , 30.717,
       21.401, 21.266, 23.579, 20.388, 20.631, 17.191, 17.82 , 17.458,
       17.812, 16.544, 16.206, 20.272, 17.835, 34.182, 34.259, 35.392,
       28.248, 25.335, 21.309, 26.794, 22.498, 34.55 , 34.54 , 34.166,
       37.001, 27.885, 27.262, 25.845, 30.672, 39.206, 36.87 , 33.274,
       37.097, 27.708, 25.715, 24.843, 19.673, 34.817, 29.803, 31.583,
       34.448, 32.695, 42.907, 26.937, 41.108, 43.496, 41.868, 34.44 ,
       30.49 , 41.107, 38.875, 34.691, 32.089, 28.044, 27.532, 33.664,
       24.05 , 32.612, 28.673, 27.487, 26.146, 24.257, 31.397, 37.898,
       37.694, 35.805, 33.567, 36.583, 36.69 , 34.031, 34.669, 34.75 ,
       31.792, 33.617, 34.556, 33.943, 32.65 , 30.937, 31.278, 28.307,
       29.504, 26.286, 25.96 , 21.787, 24.383, 21.308, 20.334, 28.732,
       27.924, 32.837, 30.182, 28.939, 26.988, 24.656, 24.135, 35.834,
       36.214, 32.68 , 36.874, 35.391, 35.931, 35.118, 33.668, 36.337,
       33.426, 36.668, 25.449, 31.455, 26.562, 23.841, 30.325, 34.049,
       26.072, 27.21 , 42.372, 32.933, 28.791, 29.988])

In [88]:
import joblib

In [89]:
joblib.dump(pipeline_obj,'RFModelforMPG.pkl')

['RFModelforMPG.pkl']

In [90]:
modelReload=joblib.load('RFModelforMPG.pkl')

In [91]:
modelReload.predict(data[X])

array([17.137, 14.69 , 17.11 , 16.3  , 17.08 , 14.575, 13.91 , 14.065,
       13.545, 14.67 , 14.902, 14.38 , 14.95 , 14.578, 24.06 , 21.686,
       19.212, 20.997, 27.09 , 26.58 , 24.318, 24.216, 24.56 , 25.006,
       20.895, 10.71 , 10.75 , 11.71 , 10.12 , 27.1  , 26.365, 24.789,
       26.17 , 19.138, 16.917, 17.48 , 18.584, 18.1  , 13.935, 13.66 ,
       14.11 , 14.18 , 12.25 , 13.11 , 12.88 , 18.29 , 22.1  , 18.621,
       18.335, 23.674, 26.935, 29.71 , 29.195, 31.525, 33.39 , 27.265,
       26.966, 24.588, 25.4  , 23.33 , 20.449, 22.484, 13.345, 13.6  ,
       14.71 , 14.075, 15.74 , 11.86 , 12.76 , 12.42 , 13.075, 20.149,
       14.84 , 13.64 , 13.545, 14.12 , 18.955, 22.51 , 20.5  , 25.86 ,
       22.55 , 26.972, 22.801, 26.925, 26.82 , 13.155, 14.57 , 13.44 ,
       14.175, 14.44 , 11.99 , 13.215, 13.08 , 14.14 , 12.5  , 12.13 ,
       13.31 , 18.361, 16.4  , 18.34 , 18.283, 22.132, 26.28 , 11.48 ,
       12.22 , 12.74 , 12.38 , 18.346, 21.87 , 21.11 , 22.98 , 21.845,
       20.225, 21.346, 26.32 , 14.41 , 15.15 , 28.83 , 24.675, 21.515,
       19.557, 15.32 , 23.016, 20.346, 12.04 , 20.127, 21.025, 19.19 ,
       16.01 , 31.135, 25.327, 31.695, 24.75 , 16.29 , 15.977, 17.768,
       15.48 , 13.46 , 14.075, 13.935, 14.215, 27.44 , 27.515, 26.323,
       31.616, 31.695, 27.235, 25.665, 25.869, 23.857, 25.085, 29.725,
       19.131, 17.681, 15.783, 16.59 , 15.36 , 14.755, 15.305, 14.43 ,
       17.116, 16.135, 15.656, 17.675, 20.513, 19.598, 14.58 , 28.245,
       23.493, 19.845, 22.886, 23.93 , 25.648, 23.901, 18.98 , 28.825,
       19.005, 23.488, 22.065, 21.539, 24.201, 32.265, 26.728, 25.421,
       24.72 , 26.109, 27.265, 16.86 , 15.65 , 16.245, 14.785, 21.255,
       20.875, 23.242, 21.43 , 29.29 , 25.465, 29.04 , 32.37 , 19.513,
       18.21 , 18.384, 18.54 , 29.546, 32.   , 27.99 , 25.434, 20.169,
       13.694, 19.974, 19.421, 16.97 , 15.645, 13.795, 14.064, 13.444,
       31.46 , 29.579, 33.432, 25.771, 32.955, 16.627, 17.521, 15.639,
       15.352, 17.943, 20.208, 19.096, 18.344, 15.865, 15.643, 15.713,
       15.674, 29.672, 24.647, 26.104, 24.927, 30.891, 31.735, 30.828,
       29.795, 21.911, 22.617, 21.747, 40.937, 35.187, 35.191, 37.538,
       35.618, 19.891, 18.885, 19.373, 19.101, 20.182, 20.546, 25.07 ,
       19.971, 19.696, 20.508, 20.675, 18.709, 18.709, 18.922, 18.002,
       18.614, 17.176, 30.568, 25.963, 26.885, 30.588, 23.04 , 23.381,
       23.72 , 24.55 , 21.384, 18.03 , 21.835, 17.104, 32.25 , 30.717,
       21.401, 21.266, 23.579, 20.388, 20.631, 17.191, 17.82 , 17.458,
       17.812, 16.544, 16.206, 20.272, 17.835, 34.182, 34.259, 35.392,
       28.248, 25.335, 21.309, 26.794, 22.498, 34.55 , 34.54 , 34.166,
       37.001, 27.885, 27.262, 25.845, 30.672, 39.206, 36.87 , 33.274,
       37.097, 27.708, 25.715, 24.843, 19.673, 34.817, 29.803, 31.583,
       34.448, 32.695, 42.907, 26.937, 41.108, 43.496, 41.868, 34.44 ,
       30.49 , 41.107, 38.875, 34.691, 32.089, 28.044, 27.532, 33.664,
       24.05 , 32.612, 28.673, 27.487, 26.146, 24.257, 31.397, 37.898,
       37.694, 35.805, 33.567, 36.583, 36.69 , 34.031, 34.669, 34.75 ,
       31.792, 33.617, 34.556, 33.943, 32.65 , 30.937, 31.278, 28.307,
       29.504, 26.286, 25.96 , 21.787, 24.383, 21.308, 20.334, 28.732,
       27.924, 32.837, 30.182, 28.939, 26.988, 24.656, 24.135, 35.834,
       36.214, 32.68 , 36.874, 35.391, 35.931, 35.118, 33.668, 36.337,
       33.426, 36.668, 25.449, 31.455, 26.562, 23.841, 30.325, 34.049,
       26.072, 27.21 , 42.372, 32.933, 28.791, 29.988])

In [92]:
temp={}
temp['cylinders']=1
temp['displacement']=2
temp['horsepower']=3
temp['weight']=4
temp['acceleration']=5
temp['model year']=6
temp['origin']=1

In [93]:
testData=pd.DataFrame({'x':temp}).transpose()

In [94]:
testData

,acceleration,cylinders,displacement,horsepower,model year,origin,weight
x,5,1,2,3,6,1,4

In [95]:
modelReload.predict(testData)[0]

28.691